<?xml version="1.0"?>
<config>
  <modules>
    <PM_Popupbasic>
      <version>0.1.0</version>
    </PM_Popupbasic>
  </modules>
  <frontend>
    <routers>
      <popupbasic>
        <use>standard</use>
          <args>
            <module>PM_Popupbasic</module>
            <frontName>popupbasic</frontName>
          </args>
      </popupbasic>
    </routers>
		<layout>
		  <updates>
			<popupbasic>
			  <file>popupbasic.xml</file>
			</popupbasic>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <popupbasic>
        <class>PM_Popupbasic_Helper</class>
      </popupbasic>
    </helpers>
	<blocks>
	  <popupbasic>
		<class>PM_Popupbasic_Block</class>
	  </popupbasic>
	</blocks>
	<models>
		<popupbasic>
			<class>PM_Popupbasic_Model</class>
		</popupbasic>
	</models>
  </global>
</config> 